// Layout
$max-desktop-width: 1440px;

// Colors
$blue: #5847EB;
$work: #FF8C66;
$play: #56C2E6;
$study: #FF5C7C;
$exercise: #4ACF81;
$social: #7536D3;
$self-care: #F1C65B;

$very-dark-blue: #0F1424;
$dark-blue: #1C1F4A;
$desaturated-blue: #6F76C8;
$pale-blue: #BDC1FF;
